In [1]:
# importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("..\data\micro_world_139countries.csv", encoding='latin1')

df

,economy,economycode,regionwb,pop_adult,wpid_random,wgt,female,age,educ,inc_q,...,receive_transfers,receive_pension,receive_agriculture,pay_utilities,remittances,mobileowner,internetaccess,anydigpayment,merchantpay_dig,year
0,Afghanistan,AFG,South Asia,22647496.0,144274031,0.716416,2,43.0,2,4,...,4,4,4.0,1,5.0,1,2,1,0.0,2021
1,Afghanistan,AFG,South Asia,22647496.0,180724554,0.497408,2,55.0,1,3,...,4,4,2.0,4,5.0,1,2,0,0.0,2021
2,Afghanistan,AFG,South Asia,22647496.0,130686682,0.650431,1,15.0,1,2,...,4,4,4.0,4,3.0,2,2,0,0.0,2021
3,Afghanistan,AFG,South Asia,22647496.0,142646649,0.991862,2,23.0,1,4,...,4,4,2.0,4,5.0,1,2,0,0.0,2021
4,Afghanistan,AFG,South Asia,22647496.0,199055310,0.554940,1,46.0,1,1,...,4,4,4.0,4,5.0,2,2,0,0.0,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143882,Zimbabwe,ZWE,Sub-Saharan Africa (excluding high income),8633711.0,142158626,1.327724,2,22.0,2,5,...,4,4,4.0,4,5.0,1,1,0,0.0,2021
143883,Zimbabwe,ZWE,Sub-Saharan Africa (excluding high income),8633711.0,166233385,0.271210,1,52.0,2,5,...,1,4,4.0,4,5.0,1,2,1,1.0,2021
143884,Zimbabwe,ZWE,Sub-Saharan Africa (excluding high income),8633711.0,127205071,0.337621,1,47.0,1,1,...,4,4,4.0,4,5.0,1,2,0,0.0,2021
143885,Zimbabwe,ZWE,Sub-Saharan Africa (excluding high income),8633711.0,201016006,2.153500,2,18.0,1,3,...,4,4,4.0,4,4.0,2,2,1,1.0,2021
143886,Zimbabwe,ZWE,Sub-Saharan Africa (excluding high income),8633711.0,204293669,0.271210,1,74.0,3,2,...,4,1,4.0,4,1.0,1,2,1,1.0,2021

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143887 entries, 0 to 143886
Columns: 128 entries, economy to year
dtypes: float64(90), int64(35), object(3)
memory usage: 140.5+ MB

In [17]:
null_counts = df.isnull().sum().sort_values(ascending=False)

null_df = pd.DataFrame({
    'Column': null_counts.index,
    'Null Count': null_counts.values
})

null_df['Null Count'] = null_df['Null Count'].astype(int)
pd.set_option('display.max_rows', None)
null_df[null_df['Null Count'] > 0]

                 Column  Null Count
0              fin10_1a      143065
1              fin10_1b      143065
2              fin10_1c      143065
3              fin10_1d      143065
4              fin10_1e      143065
5                fin43e      142569
6         fin31b1_China      141866
7                fin34e      141132
8        fin14c_2_China      140768
9         fin14_2_China      140666
10        fin45_1_China      140387
11               fin39e      136108
12              fin27c1      133168
13              fin27c2      133168
14               fin43d      132062
15               fin39d      131852
16                fin8a      131674
17               fin43b      130846
18              fin29c2      130457
19              fin29c1      130457
20               fin34d      130156
21               fin22c      129545
22               fin42a      128582
23               fin43a      128582
24               fin39b      128497
25               fin13a      126196
26               fin13b      126196
27               fin13c      126196
28               fin13d      125522
29             fin13_1b      123381
30             fin13_1f      123381
31             fin13_1c      123381
32             fin13_1d      123381
33             fin13_1a      123381
34             fin13_1e      123381
35              fin17a1      121248
36               fin34b      120153
37             fin14c_2      119586
38                fin35      117069
39               fin14c      116467
40              fin31b1      116415
41              fin27_1      113944
42                fin4a      113872
43                 fin8      111253
44                fin8b      111253
45              fin29_1      110931
46               fin31c      110725
47              fin14_2      110202
48               fin39a      104542
49              fin11_1      101965
50                fin33       90709
51              fin1_1a       89121
52              fin1_1b       89121
53               fin11a       89082
54               fin11b       89082
55               fin11f       89082
56               fin11h       89082
57               fin11e       89082
58               fin11g       89082
59               fin11d       89082
60               fin11c       89082
61               fin34a       88871
62                fin9a       74241
63               fin10a       72904
64                 fin4       70942
65       urbanicity_f2f       68243
66               fin31b       63056
67          account_mob       61181
68               fin31a       60928
69                 fin5       54805
70                 fin6       54805
71                 fin9       54805
72               fin10b       54805
73                 fin7       54805
74                fin10       54805
75                fin45       40414
76              fin45_1       33106
77                fin42       29606
78  receive_agriculture       29606
79                fin26       29606
80      merchantpay_dig       29606
81          remittances       29606
82               fin17b       29606
83                fin28       29606
84               fin24b       15599
85               fin24a       15599
86               emp_in        3502
87             regionwb        1000
88                  age         467

In [24]:
df.columns

Index(['economy', 'economycode', 'regionwb', 'pop_adult', 'wpid_random', 'wgt',
       'female', 'age', 'educ', 'inc_q',
       ...
       'receive_transfers', 'receive_pension', 'receive_agriculture',
       'pay_utilities', 'remittances', 'mobileowner', 'internetaccess',
       'anydigpayment', 'merchantpay_dig', 'year'],
      dtype='object', length=128)

In [27]:
columns_used = ['economy', 'female', 'inc_q', 'emp_in', 'urbanicity_f2f', 'account', 'borrowed', 'saved', 'receive_wages', 'receive_transfers', 'receive_pension', 'pay_utilities', 'anydigpayment', 'mobileowner', 'internetaccess', 'fin2', 'fin7', 'fin8b', 'fin42a', 'fin44a', 'fin44b', 'fin44c', 'fin44d']

df = df[columns_used]

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143887 entries, 0 to 143886
Data columns (total 23 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   economy            143887 non-null  object
 1   female             143887 non-null  int64
 2   inc_q              143887 non-null  int64
 3   emp_in             140385 non-null  float64
 4   urbanicity_f2f     75644 non-null   float64
 5   account            143887 non-null  int64
 6   borrowed           143887 non-null  int64
 7   saved              143887 non-null  int64
 8   receive_wages      143887 non-null  int64
 9   receive_transfers  143887 non-null  int64
 10  receive_pension    143887 non-null  int64
 11  pay_utilities      143887 non-null  int64
 12  anydigpayment      143887 non-null  int64
 13  mobileowner        143887 non-null  int64
 14  internetaccess     143887 non-null  int64
 15  fin2               143887 non-null  int64
 16  fin7               89082 non-null   float64
 17  fin8b              32634 non-null   float64
 18  fin42a             15305 non-null   float64
 19  fin44a             143887 non-null  int64
 20  fin44b             143887 non-null  int64
 21  fin44c             143887 non-null  int64
 22  fin44d             143887 non-null  int64
dtypes: float64(5), int64(17), object(1)
memory usage: 25.2+ MB

In [32]:
# dropping rows where respondant did not answer one of the target questions
finacial_worry_variables = ['fin44a', 'fin44b', 'fin44c', 'fin44d']

for variable in finacial_worry_variables:
    df = df[df[variable] != 6]

In [34]:
finacial_worry_variables = ['fin44a', 'fin44b', 'fin44c', 'fin44d']

for variable in finacial_worry_variables:
    df[variable] = df[variable].replace({1: 3, 2: 1, 3: 0, 4: 0, 5: 0})

In [35]:
df['financial_worry'] = df[finacial_worry_variables].sum(axis=1)

In [38]:
df.drop(columns=finacial_worry_variables, inplace=True)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 143249 entries, 0 to 143886
Data columns (total 20 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   economy            143249 non-null  object
 1   female             143249 non-null  int64
 2   inc_q              143249 non-null  int64
 3   emp_in             139767 non-null  float64
 4   urbanicity_f2f     75231 non-null   float64
 5   account            143249 non-null  int64
 6   borrowed           143249 non-null  int64
 7   saved              143249 non-null  int64
 8   receive_wages      143249 non-null  int64
 9   receive_transfers  143249 non-null  int64
 10  receive_pension    143249 non-null  int64
 11  pay_utilities      143249 non-null  int64
 12  anydigpayment      143249 non-null  int64
 13  mobileowner        143249 non-null  int64
 14  internetaccess     143249 non-null  int64
 15  fin2               143249 non-null  int64
 16  fin7               88761 non-null   float64
 17  fin8b              32538 non-null   float64
 18  fin42a             15239 non-null   float64
 19  financial_worry    143249 non-null  int64
dtypes: float64(5), int64(14), object(1)
memory usage: 23.0+ MB

In [40]:
binary_variables_to_be_fixed = ['female', 'emp_in', 'urbanicity_f2f']

for variable in binary_variables_to_be_fixed:
    df[variable] = df[variable].replace({2: 0})